.sidebar {
  flex: 1;
  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: rgb(25, 109, 137);
    }
  }

  hr {
    height: 0;
    border: 0.5px solid lightgray;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: gray;
        margin-top: 15px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgb(238, 236, 236);
        }

        .icon {
          font-size: 25px;
          color: rgb(50, 163, 201);
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: rgb(95, 91, 91);
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid rgb(50, 163, 201);
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: rgb(45, 43, 43);
      }
      &:nth-child(2) {
        background-color: rgb(75, 174, 207);
      }
      &:nth-child(3) {
        background-color: rgb(70, 88, 188);
      }
    }
  }
}
